@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    color: black;
    font-size: 1.3vw;
    font-family: cursive;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(pexels-ann-h-1762851.jpg);
    width: 99%;
    height: auto;
    background-repeat: no-repeat;
    height: 100%;
    letter-spacing: .15vw;
}

h1 {
    text-shadow: -1px -1px #000, 1px -1px 0 #000, 1px 1px 0 #000;
    font-size: 4.5vw;
    color: #CB4C78;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

h2 {
    text-shadow: -1px -1px #000, 1px -1px 0 #000, 1px 1px 0 #000;
    font-size: 4vw;
    color: forestgreen;
    text-align: center;
    text-decoration: underline;
    font-family: 'Permanent Marker', cursive;
}

#About h2 {
    margin: .75vw 18vw 1.75vw 20vw;
}

a {
    color: black;
}

a:visited {
    color: green;
}

a:hover {
    color: darkgoldenrod;
}

a:active {
    color: brown;
}

#nav {
    font-size: 3vw;
    top: 0;
    width: 101%;
    background-color: cyan;
    position: sticky;
}

nav a {
    font-size: 1.5vw;
}

nav ul {
    text-align: center;
    list-style: none;
    margin-bottom: 10px;
}

nav li {
    display: inline;
    margin: 0 20px;
}

section p {
    margin: 0px 15.4vw .5vw 9.35vw;
    font-size: 1.5vw;
    font-family: 'Red Hat Display', sans-serif;
}

section {
    margin: 2vw 0 2vw 0;
}

.round {
    margin: 10px 5px;
    border: .14vw solid red;
    border-radius: 200px 50px;
    text-align: center;
    border-style: double;
}

#Skills {
    text-align: center;
}

#Skills ul {
    margin: 0px 15.3vw .5vw 16.5vw;
}

#Skills li {
    margin-left: 28vw;
    margin-right: 40vw;
}

#Skills h2 {
    margin: .75vw 14vw 1.75vw 14.35vw;
}

#form h2 {
    font-size: 4vw;
    color: orangered;
}

form {
    text-align: center;
    margin: 3vw 12vw 2vw 16vw;
}

input,
label,
textarea,
button {
    background-color: transparent;
    font-size: 3vw;
}

textarea {
    resize: none;
}

#socials p {
    margin: 0;
    padding: 0;
    text-align: left;
}