@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    color: black;
    font-size: 2.5vw;
    font-family: cursive;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(pexels-ann-h-1762851.jpg);
    background-size: auto;
}

h1 {
    text-shadow: -1px -1px #000, 1px -1px 0 #000, 1px 1px 0 #000;
    font-size: 7vw;
    color: #CB4C78;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

h2 {
    text-shadow: -1px -1px #000, 1px -1px 0 #000, 1px 1px 0 #000;
    font-size: 6vw;
    color: forestgreen;
    text-align: center;
    text-decoration: underline;
    font-family: 'Permanent Marker', cursive;
}

#About h2 {
    margin: .75vw 18vw 1.75vw 20vw;
}

a {
    color: black;
}

a:visited {
    color: green;
}

a:hover {
    color: darkgoldenrod;
}

a:active {
    color: brown;
}

#nav {
    font-size: 3vw;
    top: 0;
    width: 101%;
    background-color: cyan;
    position: sticky;
}

.a {
    font-size: 3vw;
}

nav ul {
    text-align: center;
    list-style: none;
    margin-bottom: 10px;
}

nav li {
    display: inline;
    margin: 0 20px;
}

section p {
    margin: 0px 15.4vw .5vw 9.35vw;
    font-size: 2.8vw;
    font-family: 'Red Hat Display', sans-serif;
}

section {
    margin: 2vw 0 2vw 0;
}

.round {
    margin: 1vw 2vw;
    border: .55vw solid red;
    border-radius: 30vw 21vw;
    text-align: center;
    border-style: double;
}

#Skills {
    text-align: center;
}

#Skills ul {
    margin: 0 15.3vw .5vw 16.5vw;
}

#Skills li {
    margin-left: 28vw;
    margin-right: 40vw;
}

#Skills h2 {
    margin: .75vw 14vw 1.75vw 14.35vw;
}

#form h2 {
    font-size: 5.5vw;
    color: orangered;
}

form {
    text-align: center;
    margin: 3vw 12vw 2vw 16vw;
}

input,
label,
textarea,
button {
    background-color: transparent;
    font-size: 2.1vw;
}

textarea {
    resize: none;
}

.img {
    border: 1px solid black;
    background-color: darkorange;
    position: static;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    width: 48vw;
    border-radius: 50%;
}

.heading {
    margin-top: 0px;
    color: rgb(21, 96, 189);
    text-decoration: none;
}

#socials a {
    font-size: 3vw;
    margin: 0;
    margin-left: -5vw;
    padding: 0;
    text-align: left;
}

@media (max-width: 800px) {
    h1 {
        font-size: 7vw;
    }

    h2 {
        font-size: 6vw;
    }

    .a {
        font-size: 3.5vw;
    }

    section p {
        margin: 0px 15.4vw .5vw 9.35vw;
        font-size: 3vw;
        font-family: 'Red Hat Display', sans-serif;
    }

    section {
        margin: 2vw 0 2vw 0;
    }

    #Skills ul {
        margin: 0 20.3vw .5vw 16.5vw;
    }

    #Skills li {
        margin-left: 28vw;
        margin-right: 40vw;
    }

    #Skills h2 {
        margin: .75vw 14vw 1.75vw 14.35vw;
    }

    .round {
        margin: 1vw 2vw;
        border: .65vw solid red;
        border-radius: 34vw 26vw;
        text-align: center;
        border-style: double;
    }

    * {
        font-size: 3vw;
    }

    #but,
    label {
        font-size: 3vw;
    }

    #socials a {
        font-size: 3vw;
    }

    #form h2 {
        font-size: 5.5vw;
    }
}

@media (max-width: 650px) {
    h1 {
        font-size: 9vw;
    }

    h2 {
        font-size: 7.5vw;
    }

    .a {
        font-size: 3vw;
    }

    #socials a {
        font-size: 3vw;
    }

    section p {
        margin: 0px 13.4vw .5vw 9.35vw;
        font-size: 3.5vw;
        font-family: 'Red Hat Display', sans-serif;
    }

    section {
        margin: 2vw 0 2vw 0;
    }


    #Skills ul {
        margin: 0 15.3vw .5vw 16.5vw;
    }

    #Skills li {
        margin-left: 28vw;
        margin-right: 40vw;
    }

    #Skills h2 {
        margin: .75vw 14vw 1.75vw 14.35vw;
    }

    .round {
        margin: 1vw 2vw;
        border: .65vw solid red;
        border-radius: 34vw 26vw;
        text-align: center;
        border-style: double;
    }

    * {
        font-size: 4vw;
    }

    #but,
    label {
        font-size: 4vw;
    }

    #form h2 {
        font-size: 7vw;
    }

    #socials a {
        font-size: 4.5vw;
    }
}

@media (max-width: 500px) {
    nav li {
        display: inline;
    }

    h1 {
        font-size: 11vw;
    }

    h2 {
        font-size: 9vw;
    }

    .a {
        font-size: 2.4vw;
    }

    #socials a {
        font-size: 3vw;
    }

    section p {
        margin: 0px 15.4vw .5vw 9.35vw;
        font-size: 4vw;
        font-family: 'Red Hat Display', sans-serif;
    }

    section {
        margin: 2vw 0 2vw 0;
    }

    #Skills ul {
        margin: 0 15.3vw .5vw 16.5vw;
    }

    #Skills li {
        margin-left: 28vw;
        margin-right: 40vw;
    }

    #Skills h2 {
        margin: .75vw 14vw 1.75vw 14.35vw;
    }

    .round {
        margin: 1vw 2vw;
        border: .75vw solid red;
        border-radius: 34vw 26vw;
        text-align: center;
        border-style: double;
    }

    * {
        font-size: 4.5vw;
    }

    #but,
    label {
        font-size: 4vw;
    }

    #socials a {
        font-size: 5vw;
    }

    #form h2 {
        font-size: 8vw;
    }
}

@media (max-width: 350px) {
    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 43px;
        text-decoration: none;
    }

    nav li {
        display: block;
    }

    section p {
        margin: 0px 15.4vw .5vw 9.35vw;
        font-size: 6vw;
        font-family: 'Red Hat Display', sans-serif;
    }

    section {
        margin: 2vw 0 2vw 0;
    }

    #Skills ul {
        margin: 0 15.3vw .5vw 16.5vw;
    }

    #Skills li {
        margin-left: 28vw;
        margin-right: 40vw;
    }

    #Skills h2 {
        margin: .75vw 14vw 1.75vw 14.35vw;
    }

    .round {
        margin: 1vw 2vw;
        border: 1.5vw solid red;
        border-radius: 35% 30%;
        text-align: center;
        border-style: double;
    }

    * {
        font-size: 5vw;
    }

    .a {
        font-size: 4vw;
    }

    #but,
    label {
        font-size: 4vw
    }

    #socials a {
        font-size: 4vw;
    }

    #form h2 {
        font-size: 12vw;
    }
}

@media (max-width: 159px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 30px;
        text-decoration: none;
    }

    nav li {
        display: block;
    }

    section p {
        margin: 0px 15.4vw .5vw 9.35vw;
        font-size: 7vw;
        font-family: 'Red Hat Display', sans-serif;
    }

    section {
        margin: 2vw 0 2vw 0;
    }

    #Skills ul {
        margin: 0 15.3vw .5vw 16.5vw;
    }

    #Skills li {
        margin-left: 20vw;
        margin-right: 50vw;
    }

    #Skills h2 {
        margin: .75vw 14vw 1.75vw 14.35vw;
    }

    .round {
        margin: 1vw 2vw;
        border: 1.5vw solid red;
        border-radius: 35% 30%;
        text-align: center;
        border-style: double;
    }

    * {
        font-size: 8vw;
    }

    .a {
        font-size: 6vw;
    }

    #form h2 {
        font-size: 26px;
    }

    #but,
    label {
        font-size: 6.5vw
    }

    #socials a {
        font-size: 7vw;
    }
}