* {
    background-color: black;
    font-size: 1.12vw;
    font-family: cursive;
    color: papayawhip;
}

h1 {
    text-shadow: -1px -1px #000, 1px -1px 0 #000, 1px 1px 0 #000;
    font-size: 4.5vw;
    color: yellow;
    text-align: center;
    text-decoration: dotted;
}

h2 {
    margin: .75vw 10vw 1.75vw 20vw;
    font-size: 4vw;
    color: magenta;
    text-align: center;
    text-decoration: underline;
}

a {
    color: yellowgreen;
}

a:visited {
    color: cyan;
}

a:hover {
    color: greenyellow;
}

a:active {
    color: brown;
}

nav ul {
    text-align: center;
    list-style: none;
    margin-bottom: 10px;
}

nav li {
    display: inline;
    margin: 0 20px;
}

p {
    margin: 0px 15.4vw .5vw 9.35vw;
}

section {
    margin: 2vw 0 2vw 0;
}

.round {
    margin: 10px 5px;
    border: .14vw solid red;
    border-radius: 200px 50px;
    text-align: center;
    border-style: double;
}

#Skills {
    text-align: center;
}

#Skills ul {
    margin: 0px 15.3vw .5vw 16.5vw;
}

#Skills h2 {
    margin: .75vw 6vw 1.75vw 14.35vw;
}